@page {
  margin-top: 2rem;
  margin-left: 3.25rem;
  margin-right: 3.25rem;
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
}

body {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.cover-header {
  text-align: right;
}

.cover-header .cover-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  background-image: url(../img/magellano-cover.jpg);
  background-size: cover;
  text-align: right;
  padding: 1cm;
  margin-top: 3.75rem;
  margin-bottom: 1rem;
}

.cover-header .magellno-logo {
  height: 3cm;
  margin-bottom: 0.5cm;
}

.cover-header .authors,
.cover-header .adopt-authors {
  font-size: 1rem;
  text-align: right;
  margin: 0;
  margin-bottom: 1cm;
  margin-left: auto;
}

.cover-header .authors {
  color: #484848;
}

.cover-header .adopt-authors {
  color: #878787;
}

.page-footer {
  margin-bottom: 0;
}

.header-test-info {
  width: auto;
  border-spacing: 0 4px;
  font-size: 12px;
  font-weight: 400;
}

.header-test-info th {
  padding-right: 8px;
  color: #808080;
}

.header-wrap {
  padding-bottom: 6px;
}

.sub-title {
  margin-bottom: 2rem;
}

.adopt-authors {
  margin-top: 0;
  margin-bottom: 35px;
}

.authors {
  width: 100%;
  line-height: 25px;
  margin-top: 0;
}

p {
  font-size: 12px;
  line-height: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 300;
}

.p-align-justify {
  text-align: justify;
}

.p-align-bottom {
  margin-top: auto;
}

.explanation-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

.explanation-list li:before {
  content: "—";
  position: relative;
  left: -5px;
}

b {
  font-size: inherit;
}

.content-title {
  font-weight: 700;
  text-align: left;
  color: #003e67;
  font-size: 22px;
}

.questionarie {
  border-spacing: 0 0.5rem;
  margin-top: 18px;
}

.resulst-p {
  font-size: 14px;
  color: #006eb7;
  font-weight: 600;
  margin-bottom: 0;
}

.part-title {
  font-weight: 400;
}

.text-code {
  background: #e9f0fa;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding: 16px 32px;
  text-align: center;
  margin-left: auto;
  width: fit-content;
  border-radius: 8px;
}

/* magellano-matrix */
.magellano-matrix-container {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.magellano-matrix {
  font-family: "MuseoSansCyrl", sans-serif;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 9px;
  line-height: 14px;
  text-align: center;
}

.magellano-matrix th {
  background-color: #006eb7;
  color: white;
}

.magellano-matrix th,
.magellano-matrix td {
  padding: 0.1rem 0.5rem;
  font-size: 0.75rem;
  line-height: 0.8rem;
}

.magellano-matrix td:nth-child(odd) {
  font-weight: 800;
}

/* END magellano-matrix */

.page-content ul,
ol {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  list-style: none;
  padding-left: 12px;
  margin-block-start: 1em;
  margin-block-end: 2em;
}

.page-content ul li:before {
  content: "\2022";
  color: #006eb7;
  font-weight: bold;
  margin-right: 12px;
}

.page-content li {
  counter-increment: item;
  margin-bottom: 5px;
}

.page-content ol li:before {
  margin-right: 10px;
  content: counter(item);
  background: #006eb7;
  border-radius: 100%;
  color: white;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  display: inline-block;
}

.check-list {
  list-style: none;
}

.check-list li {
  padding-left: 2em;
  background: url("../img/list-marker.png") no-repeat top 2px left/contain;
  background-size: 16px 16px;
  margin-top: 11px;
}

.check-list li:not(:first-child) {
  margin-top: 11px;
}

.check-list-title {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #0372ba;
}

.check-list-item {
  margin: 0;
  line-height: 19px;
}

.range-results-title {
  color: #004379;
}

/* v-chart */
.v-chart {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  display: grid;
  grid-template-columns: auto 1fr 30%;
  grid-template-rows: 1fr 30px;
  color: #003e67;
  height: 320px;
  margin-top: 0.5cm;
  margin-bottom: 1cm;
}

.v-chart-legend {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-column: 3;
  grid-row: 1/3;
  margin-left: 12px;
}

.v-chart-legend > .v-chart-legend-item {
  margin-bottom: 12px;
}

.v-chart-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 20% 40%;
  grid-column: 2;
  grid-row: 1;
  border-top: 1px solid #d2e0f4;
  border-bottom: 2px solid #0371ba;
}

.v-chart-grid > .v-chart-grid-row:not(:first-child) {
  border-top: 1px dashed #d2e0f4;
}

.v-chart-grid-row.accent {
  background-color: #f7f8fa;
}

.v-chart-y-axis {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 20% 20% 30%;
  grid-column: 1;
  height: 104%;
  align-items: center;
  justify-items: end;
  margin-right: 8px;
  margin-top: -5px;
}

.v-chart-y-axis > .v-chart-y-axis-label:first-child {
  align-self: start;
}

.v-chart-y-axis > .v-chart-y-axis-label:last-child {
  align-self: end;
}

.v-chart-dataset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  grid-column: 2;
  grid-row: 1/3;
  z-index: 2;
  margin: 0 24px;
}

.v-chart-dataset > .v-chart-dataset-item {
  display: grid;
  grid-template-rows: auto 30px;
  align-items: end;
  justify-items: center;
}

.v-chart-dataset-item > .v-chart-dataset-item-bar {
  background: linear-gradient(270deg, #006eb6 0%, #1d91dc 100%);
  border-radius: 4px 4px 0px 0px;
  width: calc(100% / 3);
  height: calc(var(--height) * 1%);
}

.v-chart-dataset-item > .v-chart-dataset-item-bar:before {
  content: var(--height);
  background: linear-gradient(270deg, #006eb6 0%, #1d91dc 100%);
  border-radius: 4px 4px 0px 0px;
  width: calc(100% / 3);
  height: var(--height);
}

.v-chart-dataset-item-bar > .v-chart-dataset-item-label {
  margin-top: -20px;
  text-align: center;
}
/* END v-chart */

/* page-header */

.magellano-page-header {
  margin-bottom: 1cm;
}

.magellano-page-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25cm;
}

.magellano-page-header-title {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 600;
  color: #004379;
}

.magellano-page-header-test-info {
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 600;
  color: #121212;
  border-spacing: 0 1px;
  text-align: left;
}

.magellano-page-header-test-info th {
  font-weight: 400;
  color: #484848;
  vertical-align: top;
  padding-right: 0.5rem;
}

/* END page-header */

/* page-footer */

.magellano-page-footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: 1cm;
}

.magellano-page-footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.magellano-page-footer-logo {
  height: 2cm;
}

.magellano-page-footer-copyright {
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 600;
  color: #878787;
}

/* END page-footer */

/* simple-table */
.simple-table {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 400;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 9px;
  line-height: 14px;
  text-align: left;
}

.simple-table,
.simple-table td,
.simple-table th {
  border: 1px solid #d2e0f4;
}

.simple-table th {
  font-weight: 600;
  background-color: #f7f8fa;
}

.simple-table td,
.simple-table th {
  padding: 12px 8px;
}
/* END simple-table */
